body {
    display: flex;
}
main {
    display: flex;
    border: 2px solid black;
    align-items: left;
    flex-direction: column;
    margin: 20px 40px;
}
.toprow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}
.likeside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
button {
    padding: 5px 10px;
    background-color: yellow;
    box-shadow: 2px 2px black;
}
p {
    padding: 5px 20px;
}