body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}
header {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: left;
    width: 75%;
}
h1 {
    padding-left: 5%;
}
main {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-items: space-between;
}
.col1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid #000000;
    align-items: center;
    padding: 20px 0px;
    width: 75%;
}
.col2 {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 75%;
    justify-content: space-between;
}
img {
    width: 100px;   
    padding: 10px 0px 20px 0px;
}
.james {
    padding-top: 20px;
}
.neil, .nichole, .jim {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border: 2px solid #000000;
    margin: 0px 0px 20px 20px;
}
.neilrow1, .nicrow1, .jimrow1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.neilbutton, .nicbutton, .jimbutton {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: #ffff00;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 2px 2px #000000;
}
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}