body {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}
.top {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    padding: 10px 200px;
    justify-content: center;
}
.navleft {
    display: flex;
    flex-direction: row;
}
.nav-title {
    padding: 10px;
}
.nav-links {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.whitelink {
    color: white;
    font-weight: 100;
    text-decoration: none;
}
.active {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
ul {
    list-style: none;
}
li {
    padding: 0px 15px;
}
.btn {
    display: flex;
    background-color: #028ba3;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    width: 90px;
    height: 35px;
    color: white;
    padding: 5px;
    margin-left: 450px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
main {
    width: 75%;
    display: flex;
    flex-direction: row;
}
.col1 {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.col2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: left;
    height: 100%;
}
.usercard {
    width: 85%;
    display: flex;
    background-color: white;
    border: 2px solid lightgray;
    flex-direction: column;
    overflow: hidden;
    margin: 20px;
}
.ucheader {
    background-color: teal;
    height: 75px;
    justify-content: left;
    margin-bottom: 20px;
}
.ucmain {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}
.education {
    width: 85%;
    display: flex;
    background-color: white;
    border: 2px solid lightgray;
    flex-direction: column;
    overflow: hidden;
    margin: 20px;
}
.educard {
    justify-content: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.817);
    color: white;
}
.edumain {
    padding: 0px 0px 0px 20px;
}
.icon {
    width: 20px;
    align-self: center;
    padding-right: 10px;
}
.smallpic {
    width: 30px;
    border-radius: 50%;
    align-self: center;
    padding-right: 10px;
}
.jane {
    width: 100px;
    border-radius: 50%;
    padding: 20px;
}
.reqmain {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 0px 20px;
}
.peeps {
    display: flex;
    flex-direction: row;
    width: 100%;

}
.col3, .col5 {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.col4, .col6 {
    flex: 1;
    justify-content: right;
    padding-top: 20px;
}
.requests {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    border: 2px solid lightgray;
}
.requeststop {
    justify-content: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.817);
    color: white;
}
.connectionstop {
    justify-content: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.817);
    color: white;
}
.connections {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    border: 2px solid lightgray;
}
.connectmain {
    padding: 0px 0px 0px 20px;
}
.viewmore {
    display: flex;
    flex-direction: row;
    border-top: 2px solid lightgray;
    justify-content: left;
    padding: 5px 0px 5px 20px;
}